# Environment variables required for manual production deployment

# General
export LOCAL_SITE_FOLDER=~/dev/projects/site;   # Local folder with site projects (frontend, backend, deployment)
export SERVER_ADDR=192.168.1.68;                # Production server
export SERVER_USER=root;                        # Production server user which runs deployment commands
export SERVER_FRONTEND_FOLDER=/site/frontend;   # Production server frontend folder
export SERVER_BACKEND_FOLDER=/site/backend;     # Production server backend folder
export SITE_USER=site_user;                     # Production server user for running backend & scheduled database operations

# Dependencies
export NODE_VERSION=v16.16.0;
export NODE_DISTRO=linux-x64;
export PYTHON_VERSION=3.10;

# Exposed frontend & backend ports
export SERVER_FRONTEND_HTTP_PORT=80;
export SERVER_FRONTEND_HTTPS_PORT=443;
export SERVER_BACKEND_HTTP_PORT=20080;
export SERVER_BACKEND_HTTPS_PORT=20443;

# Frontend settings
export FRONTEND_SETTING_EXPRESS_PORT=5000;      # Express.js server ports for serving frontend files instead of Nginx

# Backend settings, app
export BACKEND_SETTING_APP_HOST=127.0.0.1;      # Host & port, which are listened by app server
export BACKEND_SETTING_APP_PORT=42002;
export BACKEND_SETTING_USE_FORWARDED=true;      # Flag indicating if a reverse proxy is placed before app server
export BACKEND_SETTING_DEBUG=false;             # Enable/disable stacktrace display by aiohttp loggers for 500 errors
export BACKEND_SETTING_DEFAULT_USER_LOGIN='admin';          # Default app user data
export BACKEND_SETTING_DEFAULT_USER_PASSWORD='password';
export BACKEND_SETTING_DEFAULT_USER_USERNAME='Admin';
export BACKEND_SETTING_TOKEN_LIFETIME=604800;   # User access token lifetime
export BACKEND_SETTING_MAX_HIERARCHY_DEPTH=6;   # Maximum allowed hierarchy of 'chapters' composite objects, including root object

# Backend settings, database
export BACKEND_SETTING_DB_DATABASE_HOST=localhost;
export BACKEND_SETTING_DB_DATABASE_PORT=5432;
export BACKEND_SETTING_DB_INIT_DATABASE='postgres';     # Default user with superuser privileges
export BACKEND_SETTING_DB_INIT_USERNAME='postgres';
export BACKEND_SETTING_DB_INIT_PASSWORD='password';
export BACKEND_SETTING_DB_DATABASE='site';              # App user, which runs queries
export BACKEND_SETTING_DB_USERNAME='site_app';
export BACKEND_SETTING_DB_PASSWORD='password';

# Backend settings, search
export BACKEND_SETTING_ENABLE_SEARCHABLE_UPDATES=true;  # Enable/disable processing data for search

# Backend settings, logging
export BACKEND_SETTING_LOGGING_FOLDER=logs;
export BACKEND_SETTING_LOGGING_FILE_SEPARATOR=';';
export BACKEND_SETTING_LOGGING_FILE_SEPARATOR_REPLACEMENT=',';

export BACKEND_SETTING_LOGGING_APP_EVENT_LOGGING_MODE=file;                 # logging modes can be one of 'file', 'stdout' or 'off'
export BACKEND_SETTING_LOGGING_APP_EVENT_LOGGING_FILE_MODE_INTERVAL=86400;  # file mode log rotation interval in seconds

export BACKEND_SETTING_LOGGING_APP_ACCESS_LOGGING_MODE=file;
export BACKEND_SETTING_LOGGING_APP_ACCESS_LOGGING_FILE_MODE_INTERVAL=86400;

export BACKEND_SETTING_LOGGING_DB_LOGGING_MODE=stdout;
export BACKEND_SETTING_LOGGING_SCHEDULED_LOGGING_MODE=file;
