[Unit]
Description=Site backend app server

[Service]
User=$SITE_USER
WorkingDirectory=$SERVER_BACKEND_FOLDER
ExecStart=$SERVER_BACKEND_FOLDER/venv/bin/python3 -m backend_main

Restart=on-failure
RestartSec=10s

[Install]
# Run when system is ready
WantedBy=multi-user.target
