# Frontend deployment role:
# - installs Node.js & frontend dependencies;
# - pulls frontend repo from Github & builds frontend.

# Ensure Node.js of a specific version is installed
- name: Get current Node.js version
  command: node --version
  register: current_node_version
  ignore_errors: yes
  changed_when: false

- name: Check if Node.js update is needed
  set_fact:
    node_update_needed: >-
      {{ current_node_version.rc != 0 or
         current_node_version.stdout != node_version }}

- name: Install or update Node.js
  block:
    - name: Remove existing Node.js installations
      file:
        path: "{{ node_installation_path }}"
        state: absent
      become: yes
    
    - name: Create Node.js install directory
      file: 
        path: "{{ node_installation_path }}"
        state: directory
      become: yes

    - name: Download Node distribution
      get_url:
        url: "{{ node_download_url }}"
        dest: "{{ node_download_path }}"

    - name: Extract Node distribution
      command: "tar -xJvf '{{ node_download_path }}' -C '{{ node_installation_path }}'"
      become: yes

    - name: Ensure CLI shortcuts for Node binaries exist
      file:
        src: "{{ node_installation_bin_path }}/{{ item }}"
        dest: "/usr/bin/{{ item }}"
        state: link
      loop: ["node", "npm", "npx"]
      become: yes

    - name: Delete Node distribution
      file:
        path: "{{ node_download_path }}"
        state: absent
  
  when: node_update_needed

# Setup frontend repository
- name: Clone | update repository
  git:
    repo: "{{ frontend_repository }}"
    dest: "{{ frontend_folder }}"
    force: yes
    clone: yes
    update: yes
    version: master
  become: yes

- name: Install dependencies

  command: npm install
  args:
    chdir: "{{ frontend_folder }}"
  become: yes

- name: Build & copy frontend config
  template:
    src: templates/frontend-config.json
    dest: "{{ frontend_folder }}/src/config.json"
  become: yes

- name: Build frontend
  command: npm run build
  args:
    chdir: "{{ frontend_folder }}"
  become: yes

- name: Add a symlink to the permanent static files folder
  file:
    src: "{{ static_files_folder }}"
    dest: "{{ static_files_folder_symlink }}"
    state: link
  become: yes

- name: Set folder ownership
  command: "chown -R root:{{ site_user }} {{ frontend_folder }}"
  become: yes

- name: Set folder permissions
  command: "chmod -R 775 {{ frontend_folder }}"   # r+x required for Nginx to be able to return files inside the folder
  become: yes
   
