{
    "server_addr": "192.168.1.68",
    "server_domain": "domain.without.https.prefix",
    "ssh_port": 22,
    "server_user": "user",
    "server_user_password": "password",
    "ssh_key_path": "/path/to/key",

    "db": {
        "db_host": "localhost",
        "db_port": 5432,
        
        "db_init_database": "postgres",
        "db_init_username": "postgres",
        "db_init_password": "password",
        
        "db_database": "site_logs",
        "db_username": "site_logs_user",
        "db_password": "password"
    },

    "local_temp_folder": "temp",
    "logging_mode": "db",

    "fetched_logs_settings": {
        "remote_temp_folder": "/home/user/site_deployment_temp",

        "backend_log_folder": "/site/backend/logs",
        "backend_log_separator": ";",
        "app_access_log_name_template": "app_access_log*",
        "app_event_log_name_template": "app_event_log*",
        "database_scheduled_jobs_log_name_templates": ["clear_expired_login_limits*", "clear_expired_sessions*", "update_searchables*"],

        "nginx_log_folder": "/var/log/nginx",
        "nginx_access_log_name_template": "access.log*",
        "nginx_error_log_name_template": "error.log*",
        "nginx_log_separator": " ",

        "fail2ban_log_folder": "/var/log",
        "fail2ban_log_name_template": "fail2ban.log*",

        "backup_script_log_folder": "/path/to/ansible/logs/folder",
        "backup_script_log_name_template": "backup_script.log*",
        "backup_script_separator": ";"
    }
}
