# Creates a backup of new or modified statis files and rotates previous versions of backed up file
- name: Make a file backup, it it's enabled
  block:
    - name: Rotate existing static files backups
      local_action: "command bash {{ role_path }}/scripts/rotate_static_files_backups.bash"
      # register: backup_rotation
    
    - name: Fetch new & modified files
      synchronize:
        mode: pull
        src: "{{ static_files_remote_folder }}"
        dest: "{{ backup_local_folder }}/{{ backup_static_folder_name }}"

    # - name: Print backup rotation log
    #   debug:
    #     msg: "{{ backup_rotation }}"
  
  when: backup_static_files_max_backup_count | int > 0
